<div class="container-fluid pokemon-container">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>
                    Error!!!
                </p>
                <hr />
                <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor velit est explicabo deserunt impedit obcaecati, accusamus, nam suscipit quasi aliquam sed itaque, quam modi officia dolores optio ab. Id, excepturi.
                </p>
            </div>
        </div>
    </div>
</div>
